/* You can add global styles to this file, and also import other style files */

//@import '../node_modules/bulma/bulma.sass';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  height: 100%;
  background: linear-gradient(to left, #00CCFF,#00FFFF);
}

.mat-button.mat-accent,
.mat-icon-button.mat-accent,
.mat-stroked-button.mat-accent {
  color: #00e767;
}
